---
layout: default
title: Highlights
section_id: highlights
---
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Highlights" color="#000" class="big" %}
    </div>
  </div>
</div>

<div class='full'>
  {% for highlight in site.data.highlights %}
  <section id="{{highlight.id}}">  
  <div class='row'>
    <div class='medium-3 columns'>
    <a href="{{highlight.url}}">
      <img src="{{highlight.img | prepend: site.baseurl}}"/>
    </a>
    <div class='two spacing'></div>
    </div>
    <div class='medium-9 columns'> 
      <h3><a href="{{highlight.url}}">
      {{highlight.title}}
      </a></h3>
      <p>{{highlight.desc}}</p>
      <div class='two spacing'></div>
    </div>
  </div>
  </section>
  {% endfor %}
  <div class='spacing'></div>
</div>
<div class='spacing'></div>
