---
layout: default
section_id: home
slides:
  - bg: /images/group/beast.jpg
    title:
      klass: bottom-to-top
      text: Crommie Research Group
    small_title:
      klass: bottom-to-top
      text: UC Berkeley, Department of Physics <br/> Lawrence Berkeley National Laboratory, Materials Sciences Division <br/> Local Probe Microscopy
    buttons:
      klass: bottom-to-top
      items:
        - text: Our Research
          link_to: /research

  - bg: /images/highlights/islands.jpeg
    title:
      klass: bottom-to-top
      text: Highlights
    small_title:
      klass: bottom-to-top
      text: "Press releases, news & views"
    buttons:
      klass: bottom-to-top
      items:
        - text: Read More
          link_to: /highlights

  - bg: /images/highlights/cof.png
    small_title:
      klass: bottom-to-top
      text: "LOCAL ELECTRONIC STRUCTURE OF MOLECULAR HETEROJUNCTIONS IN A SINGLE-LAYER 2D COVALENT ORGANIC FRAMEWORK" 

    title:
      klass: bottom-to-top
      text: ""
    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /highlights#cof

  - bg: /images/highlights/top.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "TOPOLOGICAL BAND ENGINEERING OF GRAPHENE NANORIBBONS"

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /highlights#top
---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg | prepend: site.baseurl}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to | prepend: site.baseurl}}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="spacing"></div>


<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Crommie Group" %}
      <div class="spacing"></div>
      <p>
        We are a condensed matter research group located on the UC Berkeley campus and at LBNL that integrates scanned probe microscopy with other techniques to investigate the structural, electronic, optical, and magnetic behavior of low-dimensional (1D and 2D) nanostructures. Our current research areas of interest include topological and relativistic effects in low-dimensional materials, bottom-up synthesis of 1D and 2D molecular structures, corrrelation effects in 2D materials, bottom-up synthesis of 1D and 2D molecular structures, correlation effects in 2D materials (including magnetism, superconductivity, CDWs, and Mott insulator behavior), optically excited nanostructures, and molecular machines.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>
