---
layout: default
section_id: home
slides:
  - bg: /images/slides/1.png
    title:
      klass: bottom-to-top
      text: Graphene Quantum Dot Wavefunction
      link: /research/imrel/gdots
    small_title:
      klass: bottom-to-top
      text: UC Berkeley, Department of Physics <br/> Lawrence Berkeley National Laboratory, Materials Sciences Division 
    buttons:
      klass: bottom-to-top
      items:
        - text: Our Research
          link_to: /research

  - bg: /images/slides/2.png
    title:
      klass: bottom-to-top
      text: "Quantum Spin Hall Insulator (1T'-WTe<sub>2</sub>)"
      link: /research/topological
    small_title:
      klass: bottom-to-top
      text: ""
    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/topological

  - bg: /images/slides/3.png
    small_title:
      klass: bottom-to-top
      text: "" 

    title:
      klass: bottom-to-top
      text: "Topological Graphene Nanoribbon"
      link: /research/syngnr
    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/imrel

  - bg: /images/slides/4.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "Atomic Collapse"
      link: /research/imrel/atomcollapse

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/syngnr

  - bg: /images/slides/5.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "Graphene Friedel Oscillations"
      link: /research/imrel/gdots

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/cdw/

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/tlbg

  - bg: /images/slides/6.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "Graphene Nanoribbon Heterojunction"
      link: /research/syngnr/gnrhet

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/cof

  - bg: /images/slides/7.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "2D Mott Insulator"
      link: /research/mott

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/nanomach

  - bg: /images/slides/8.png

    small_title:
    title:
      klass: bottom-to-top
      text: "Metallic Graphene Nanoribbons"
      link: /research/syngnr/topeng

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/nanomach
  - bg: /images/slides/9.png

    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "Single-Bond-Resolved Chemical Reaction"
      link: /research/nanomach/molcouple

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/nanomach
---

<div class='mod modDefaultSlider'>
  <div class='sequence' data-timeout='3000'>
    <ul class='sequence-canvas'>
      <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
      </a>
      <a class='sequence-next' href='javascript:void(0);'>
        <span></span>
      </a>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}
        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg | prepend: site.baseurl}});'></div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>Scanned Probe Microscopy and Spectroscopy</h2>
              </div>
            </div>
          </div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>UC Berkeley, Department of Physics <br/> Lawrence Berkeley National Laboratory, Materials Sciences Division </h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                {% for button in slide.buttons.items %}
                  <a class='button static' href='{{ "/research" | prepend: site.baseurl}}'>Our Research</a>
                {% endfor %}
              </div>
            </div>
          </div>
	  <div class='info bottom-to-top'>
	    <div class='row'>
	       <div class='large-12 columns'>
		       <a href="{{ slide.title.link }}"><h2>{{ slide.title.text }}</h2></a>
	       </div>
	    </div>
	  </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="spacing"></div>
  <div class="row">
    <div class="large-12 columns">
      <p>
      We are a condensed matter research group located at both the UC Berkeley campus and LBNL that integrates scanned probe microscopy with other experimental techniques to investigate the structural, electronic, optical, and magnetic behavior of low-dimensional (1D and 2D) nanostructures. Our current research areas of interest include the following:<br/> 
      <a href="{{"/research/" | prepend : site.baseurl}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) Topological and relativistic effects in low-dimensional materials<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) Bottom-up synthesis of 1D and 2D molecular structures<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) Correlation effects in 2D materials<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) Optically-excited nanostructures<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5) Molecular machines</a></p>
      <div class="spacing"></div>
    </div>
  </div>
</div>
