---
layout: default
section_id: home
slides:
  - bg: /images/slides/1.png
    title:
      klass: bottom-to-top
      text: Nanoscale Microscopy and Spectroscopy Group 
    small_title:
      klass: bottom-to-top
      text: UC Berkeley, Department of Physics <br/> Lawrence Berkeley National Laboratory, Materials Sciences Division 
    buttons:
      klass: bottom-to-top
      items:
        - text: Our Research
          link_to: /research

  - bg: /images/slides/2.png
    title:
      klass: bottom-to-top
      text: "Imaging Topological Effects in 2D Materials"
    small_title:
      klass: bottom-to-top
      text: ""
    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/topological

  - bg: /images/slides/3.png
    small_title:
      klass: bottom-to-top
      text: "" 

    title:
      klass: bottom-to-top
      text: "Imaging Relativistic Behavior in Graphene"
    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/imrel

  - bg: /images/slides/4.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "TOPOLOGICAL BAND ENGINEERING OF GRAPHENE NANORIBBONS"

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/syngnr

  - bg: /images/slides/5.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "CDWs and Superconductivity in 2D Materials"

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/cdw/

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/tlbg

  - bg: /images/slides/6.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "Covalent Organic Frameworks"

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/cof

  - bg: /images/slides/7.png
    small_title:
      klass: bottom-to-top
      text: ""
    title:
      klass: bottom-to-top
      text: "Nanomachines and Molecular Imaging"

    buttons:
      klass: bottom-to-top
      items:
        - text: About
          link_to: /research/nanomach

  - bg: /images/slides/8.png

  - bg: /images/slides/9.png
---

<div class='mod modDefaultSlider'>
  <div class='sequence' data-timeout='3000'>
    <ul class='sequence-canvas'>
      <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
      </a>
      <a class='sequence-next' href='javascript:void(0);'>
        <span></span>
      </a>
      <ul class='sequence-pagination'>
        {% for slide in page.slides %}
          {% if forloop.first %}
            {% assign class = 'current' %}
          {% else %}
            {% assign class = '' %}
          {% endif %}
          <li class="{{class}}"></li>
        {% endfor %}
      </ul>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}
        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg | prepend: site.baseurl}});'></div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>Nanoscale Microscopy and Spectroscopy Group</h2>
              </div>
            </div>
          </div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>UC Berkeley, Department of Physics <br/> Lawrence Berkeley National Laboratory, Materials Sciences Division </h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='full'></div>
                <div class='full'></div>
                {% for button in slide.buttons.items %}
                  <a class='button static' href='{{ "/research" | prepend: site.baseurl}}'>Our Research</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="spacing"></div>
  <div class="row">
    <div class="large-12 columns">
      <p>
      We are a condensed matter research group located at both the UC Berkeley campus and LBNL that integrates scanned probe microscopy with other experimental techniques to investigate the structural, electronic, optical, and magnetic behavior of low-dimensional (1D and 2D) nanostructures. Our current research areas of interest include the following:<br/> 
	<a href="{{"/research/" | prepend : site.baseurl}}">1) Topological and relativistic effects in low-dimensional materials<br/>
		2) Bottom-up synthesis of 1D and 2D molecular structures<br/>
		3) Correlation effects in 2D materials<br/>
		4) Optically-excited nanostructures<br/>
      5) Molecular machines</a></p>
      <div class="spacing"></div>
    </div>
  </div>
</div>
