---
layout: default
title: Publications
section_id: publications

publications:

  - title: Length-Dependent Evolution of Type II Heterojunctions in Bottom Up-Synthesized Graphene Nanoribbons
    authors: Daniel J. Rizzo, Meng Wu, Hsin-Zon Tsai, Tomas Marangoni, Rebecca A. Durr, Arash A. Omrani, Franklin Liou, Christopher Bronner, Trinity Joshi, Giang D. Nguyen, Griffin F. Rodgers, Won-Woo Choi, Jakob H. Jørgensen, Felix R. Fischer, Steven G. Louie, and Michael F. Crommie, Nano Letters 19 3221 (2019)
    url: https://pubs-acs-org.libproxy.berkeley.edu/doi/pdf/10.1021/acs.nanolett.9b00758

  - title: Frustrated supercritical collapse in tunable charge arrays on graphene
    authors: Jiong Lu, Hsin-Zon Tsai, Alpin N. Tatan, Sebastian Wickenburg, Arash A. Omrani, Dillon Wong, Alexander Riss, Erik Piatti, Kenji Watanabe, Takashi Taniguchi, Alex Zettl, Vitor M. Pereira, and Michael F. Crommie, Nature Communications 10 477 (2019)
    url: https://www.nature.com/articles/s41467-019-08371-2

  - title: Local Electronic Structure of Molecular Heterojunctions in a Single-Layer 2D Covalent Organic Framework
    authors: Trinity Joshi, Chen Chen, Huifang Li, Christian S. Diercks, Gaoqiang Wang, Peter J. Waller, Hong Li, Jean-Luc Bredas, Omar M. Yaghi, and Michael F. Crommie, Advanced Materials 31 1805941 (2019)
    url: https://onlinelibrary-wiley-com.libproxy.berkeley.edu/doi/pdf/10.1002/adma.201805941#accessDenialLayout

  - title: Microscopy of hydrogen and hydrogen-vacancy defect structures on graphene devices
    authors: Dillon Wong, Yang Wang, Wuwei Jin, Hsin-Zon Tsai, Aaron Bostwick, Eli Rotenberg, Roland K. Kawakami, Alex Zettl, Arash A. Mostofi, Johannes Lischner, and Michael F. Crommie, Physical Review B 98 155436 (2018)
    url: https://journals.aps.org/prb/abstract/10.1103/PhysRevB.98.155436

  - title: Observation of topologically protected states at crystalline phase boundaries in single-layer WSe2
    authors: Miguel M. Ugeda, Artem Pulkin, Shujie Tang, Hyejin Ryu, Quansheng Wu, Yi Zhang, Dillon Wong, Zahra Pedramrazi, Ana Martín-Recio, Yi Chen, Feng Wang, Zhi-Xun Shen, Sung-Kwan Mo, Oleg V. Yazyev, and Michael F. Crommie, Nature Communications 9 3401 (2018)
    url: https://www.nature.com/articles/s41467-018-05672-w

  - title: Topological Band Engineering of Graphene Nanoribbons
    authors: "Daniel J. Rizzo, Gregory Veber, Ting Cao, Christopher Bronner, Ting Chen, Fangzhou Zhao, Henry Rodriguez, Steven G. Louie, Michael F. Crommie, and Felix R. Fischer, Nature 560 204-208 (2018) DOI: 10.1038/s41586-018-0376-8"
    url: https://www.nature.com/articles/s41586-018-0376-8

  - title: Visualization and Control of Single-Electron Charging in Bilayer Graphene Quantum Dots
    authors: "Jairo Velasco, Jr., Juwon Lee, Dillon Wong, Salman Kahn, Hsin-Zon Tsai, Joseph Costello, Torben Umeda, Takashi Taniguchi, Kenji Watanabe, Alex Zettl, Feng Wang, and Michael F. Crommie, Nano Letters 18 5104-5110 (2018)"
    url: https://pubs.acs.org/doi/full/10.1021/acs.nanolett.8b01972

  - title: Concentration Dependence of Dopant Electronic Structure in Bottom-up Graphene Nanoribbons
    authors: "Zahra Pedramrazi, Chen Chen, Fangzhou Zhao, Ting Cao, Giang D. Nguyen, Arash A. Omrani, Hsin-Zon Tsai, Ryan R. Cloke, Tomas Marangoni, Daniel J. Rizzo, Trinity Joshi, Christopher Bronner, Won-Woo Choi, Felix R. Fischer, Steven G. Louie, and Michael F. Crommie, Nano Letters 18, 3550 (2018)"
    url: https://pubs.acs.org/doi/abs/10.1021/acs.nanolett.8b00651

  - title: Hierarchical On-Surface Synthesis of Graphene Nanoribbon Heterojunctions
    authors: Christopher Bronner, Rebecca A. Durr, Daniel J Rizzo, Yea-Lee Lee, Tomas Marangoni, Alin Miksi Kalayjian, Henry Rodriguez, William Zhao, Steven G. Louie, Felix R. Fischer, and Michael F. Crommie, ACS Nano 12, 2193 (2018)
    url: http://pubs.acs.org/doi/pdfplus/10.1021/acsnano.7b08658

  - title: Local Electronic Structure of a Single-Layer Porphyrin-Containing Covalent Organic Framework
    authors: Chen Chen, Trinity Joshi, Huifang Li, Anton D. Chavez, Zahra Pedramrazi, Pei-Nian Liu, Hong Li, William R. Dichtel, Jean-Luc Bredas, and Michael F. Crommie, ACS Nano (2018) 12 (1), 385–391
    url: https://pubs.acs.org/doi/pdf/10.1021/acsnano.7b06529

  - title: Persistent Charge-Density-Wave Order in Single-Layer TaSe2
    authors: "Hyejin Ryu, Yi Chen, Heejung Kim, Hsin-Zon Tsai, Shujie Tang, Juan Jiang, Franklin Liou, Salman Kahn, Caihong Jia, Arash A Omrani, Ji-Hoon Shim, Zahid Hussain, Zhi-Xun Shen, Kyoo Kim, Byung Il Min, Choongyu Hwang, Michael F Crommie, Sung-Kwan Mo, Nano Letters 18, 689-694 (2018) DOI: 10.1021/acs.nanolett.7b03264"
    url: http://pubs.acs.org/doi/pdf/10.1021/acs.nanolett.7b03264

  - title: "Iodine versus Bromine Functionalization for Bottom-Up Graphene Nanoribbon Growth: Role of Diffusion"
    authors: "Christopher Bronner,  Tomas Marangoni, Daniel J. Rizzo, Rebecca A. Durr, Jakob Holm Jørgensen, Felix R. Fischer, and Michael F. Crommie, J. Phys. Chem. C. 121, 18490 (2017) DOI: 10.1021/acs.jpcc.7b02896"
    url: http://pubs.acs.org/doi/pdf/10.1021/acs.jpcc.7b02896

  - title: Atomically precise graphene nanoribbon heterojunctions from a single molecular precursor
    authors: "Giang D. Nguyen,  Hsin-Zon Tsai, Arash A. Omrani, Tomas Marangoni, Meng Wu, Daniel J. Rizzo, Griffin F. Rodgers, Ryan R. Cloke, Rebecca A. Durr, Yuki Sakai, Franklin Liou, Andrew S. Aikawa, James R. Chelikowsky, Steven G. Louie, Felix R. Fischer, Michael F. Crommie, Nature Nanotechnology DOI: 10.1038/nnano.2017.155"
    url: https://www.nature.com/nnano/journal/vaop/ncurrent/pdf/nnano.2017.155.pdf

  - title: Preventing Thin Film Dewetting via Graphene Capping
    authors: "Peigen Cao, Peter Bai, Arash A. Omrani, Yihan Xiao, Kacey L. Meaker, Hsin-Zon Tsai, Aiming Yan, Han Sae Jung, Ramin Khajeh, Griffin F. Rodgers, Youngkyou Kim, Andrew S. Aikawa, Mattew A. Kolaczkowski, Yi Liu, Alex Zettl, Ke Xu, Michael F. Crommie, and Ting Xu, Advanced Materials DOI: 10.1002/adma.201701536"
    url: http://onlinelibrary.wiley.com/doi/10.1002/adma.201701536/abstract

  - title: Quantum spin Hall state in monolayer 1T'-WTe2
    authors: Shujie Tang, Chaofan Zhang, Dillon Wong, Zahra Pedramrazi, Hsin-Zon Tsai, Chunjing Jia, Brian Moritz, Martin Claassen, Hyejin Ryu, Salman Kahn, Juan Jiang, Hao Yan, Makoto Hashimoto, Donghui Lu, Robert G. Moore, Chan-Cuk Hwang, Choongyu Hwang, Zahid Hussain, Yulin Chen, Miguel M. Ugeda, Zhi Liu, Xiaoming Xie, Thomas P. Devereaux, Michael F. Crommie, Sung-Kwan Mo, Zhi-Xun Shen, Nature Physics 13, 683 (2017)
    url: https://www.nature.com/nphys/journal/v13/n7/full/nphys4174.html

  - title: Spatially resolving density-dependent screening around a single charged atom in graphene
    authors: Dillon Wong, Fabiano Corsetti, Yang Wang, Victor W. Brar, Hsin-Zon Tsai, Qiong Wu, Roland K. Kawakami, Alex Zettl, Arash A. Mostofi, Johannes Lischner, and Michael F. Crommie, Physical Review B 95, 205419 (2017)
    url: https://journals.aps.org/prb/abstract/10.1103/PhysRevB.95.205419

  - title: Covalent Functionalization of GaP(110) Surfaces via a Staudinger-Type Reaction with Perfluorophenyl Azide
    authors: Miguel M. Ugeda, Aaron J. Bradley, Lucía Rodrigo, Min Yu, Wenjun Liu, Peter Doak, Alexander Riss, Jeffrey B. Neaton, T. Don Tilley, Rubén Pérez, and Michael F. Crommie, J. Phys. Chem. C. 120,26448 (2016)
    url: http://pubs.acs.org/doi/full/10.1021/acs.jpcc.6b10691

  - title: Selenium capped monolayer NbSe2 for two-dimensional superconductivity studies
    authors: "Seita Onishi, Miguel M. Ugeda, Yi Zhang, Yi Chen, Claudia Ojeda-Aristizabal, Hyejin Ryu, Sung-Kwan Mo, Zahid Hussain, Zhi-Xun Shen, Michael F. Crommie, Alex Zettl, Phys. Status Solidi B, doi:10.1002/pssb.201600235 (2016)"
    url: http://onlinelibrary.wiley.com/doi/10.1002/pssb.201600235/abstract

  - title: Tuning charge and correlation effects for a single molecule on a graphene device
    authors: "Sebastian Wickenburg, Jiong Lu, Johannes Lischner, Hsin-Zon Tsai, Arash A. Omrani, Alexander Riss, Christoph Karrasch, Aaron Bradley, Han Sae Jung, Ramin Khajeh, Dillon Wong, Kenji Watanabe, Takashi Taniguchi, Alex Zettl, A.H. Castro Neto, Steven G. Louie and Michael F. Crommie, Nat. Commun. 7,13553 (2016)"
    url: http://www.nature.com/articles/ncomms13553.epdf?author_access_token=CVyrBGXqx3r_wpc3wZuzbtRgN0jAjWel9jnR3ZoTv0PaKAmXAT8YOTt8UWhnS9aocy2fYrQaymUIMC03KezZHnPpzqG7xQg8Bdzsj98d0pwnqha6yORDkQu7P8IDd27n

  - title: Noncovalent Dimerization after Enediyne Cyclization on Au(111)
    authors: Dimas G. de Oteyza, Alejandro Pérez Paz, Yen-Chia Chen, Zahra Pedramrazi, Alexander Riss, Sebastian Wickenburg, Hsin-Zon Tsai, Felix R. Fischer, Michael F. Crommie, and Angel Rubio, J. Am. Chem. Soc. 138,10963 (2016)
    url: http://pubs.acs.org/doi/pdf/10.1021/jacs.6b05203

  - title: Imaging electrostatically confined Dirac fermions in graphene quantum dots
    authors: Juwon Lee, Dillon Wong, Jairo Velasco Jr., Joaquin F. Rodriguez-Nieva, Salman Kahn, Hsin-Zon Tsai, Takashi Taniguchi, Kenji Watanabe, Alex Zettl, Feng Wang, Leonid S. Levitov, Michael F. Crommie, Nature Physics 12, 1032 (2016)
    url: http://www.nature.com/nphys/journal/vaop/ncurrent/full/nphys3805.html

  - title: Imaging single-molecule reaction intermediates stabilized by surface dissipation and entropy
    authors: Alexander Riss, Alejandro Pérez Paz, Sebastian Wickenburg, Hsin-Zon Tsai, Dimas G. De Oteyza,  Aaron J. Bradley, Miguel M. Ugeda, Patrick Gorman, Han Sae Jung, Michael F. Crommie, Angel Rubio, Felix R. Fischer, Nature Chemistry 8, 678 (2016)
    url: http://www.nature.com/nchem/journal/vaop/ncurrent/pdf/nchem.2506.pdf

  - title: Charge density wave order in 1D mirror twin boundaries of single-layer MoSe2
    authors: S. Barja, S. Wickenburg, Z.-F. Liu, Y. Zhang, H. Ryu, M. M. Ugeda, Z. Hussain, Z.-X. Shen, S.-K. Mo, E. Wong, M. B. Salmeron, F. Wang, M. F. Crommie, D. F. Ogletree, J. B. Neaton and A.Weber-Bargioni, Nature Physics 12, 751 (2016)
    url: http://www.nature.com/nphys/journal/vaop/ncurrent/full/nphys3730.html

  - title: Electronic Structure, Surface Doping and Optical Response in Epitaxial WSe2 Thin Films
    authors: Yi Zhang, Miguel M. Ugeda, Chenhao Jin, Su-Fei Shi, Aaron Bradley, Ana Martin-Recio, Hyejin Ryu, Jonghwan Kim, Shujie Tang, Yeongkwan Kim , Bo Zhou , Choongyu Hwang , Yulin Chen, Feng Wang, Michael F. Crommie, Zahid Hussain, Zhi-Xun Shen, and Sung-Kwan Mo, Nano Letters 16, 2485 (2016)
    url: http://pubs.acs.org/doi/abs/10.1021/acs.nanolett.6b00059

  - title: Nanoscale Control of Rewriteable Doping Patterns in Pristine Graphene/Boron Nitride Heterostructures
    authors: Jairo Velasco Jr., Long Ju, Dillon Wong, Salman Kahn, Juwon Lee, Hsin-Zon Tsai, Chad Germany, Sebastian Wickenburg, Jiong Lu, Takashi Taniguchi, Kenji Watanabe, Alex Zettl, Feng Wang, and Michael F. Crommie, Nano Letters 16, 1620-1625 (2016)
    url: http://pubs.acs.org/doi/abs/10.1021/acs.nanolett.5b04441

  - title: Bottom-Up Synthesis of N = 13 Sulfur-Doped Graphene Nanoribbons
    authors: Giang D. Nguyen, Francesca M. Toma, Ting Cao, Zahra Pedramrazi, Chen Chen, Daniel J. Rizzo, Trinity Joshi, Christopher Bronner, Yen-Chia Chen, Marco Favaro, Steven G. Louie, Felix R. Fischer, and Michael F. Crommie, J. Phys. Chem. C 120, 2684−2687 (2016)
    url: http://pubs.acs.org/doi/pdf/10.1021/acs.jpcc.5b09986

  - title: Characterization of collective ground states in single-layer NbSe2
    authors: Miguel M. Ugeda, Aaron J. Bradley, Yi Zhang, Seita Onishi, Yi Chen, Wei Ruan, Claudia Ojeda-Aristizabal, Hyejin Ryu, Mark T. Edmonds, Hsin-Zon Tsai, Alexander Riss, Sung-Kwan Mo, Dunghai Lee, Alex Zettl, Zahid Hussain, Zhi-Xun Shen, Michael F. Crommie, Nature Physics 12, 92-97 (2016)
    url: http://www.nature.com/nphys/journal/vaop/ncurrent/pdf/nphys3527.pdf

  - title: "Molecular Self-Assembly in a Poorly Screened Environment: F4TCNQ on Graphene/BN"
    authors: Hsin-Zon Tsai, Arash A. Omrani, Sinisa Coh, Hyungju Oh, Sebastian Wickenburg, Young-Woo Son, Dillon Wong, Alexander Riss, Han Sae Jung, Giang D Nguyen, Griffin F. Rodgers, Andrew S. Aikawa, Takashi Taniguchi, Kenji Watanabe, Alex Zettl, Steven G. Louie, Jiong Lu, Marvin L. Cohen, and Michael F. Crommie, ACS Nano 9, 12168-12173 (2015)
    url: http://pubs.acs.org/doi/pdf/10.1021/acsnano.5b05322

  - title: "Closing the Nanographene Gap: Surface-Assisted Synthesis of Peripentacene from 6,6′-Bipentacene Precursors"
    authors: Cameron Rogers, Chen Chen, Zahra Pedramrazi, Arash A. Omrani, Hsin-Zon Tsai,Han Sae Jung, Song Lin, Michael F. Crommie, and Felix R. Fischer, Angew. Chem. Int. Ed. 54, 15143-15146 (2015)
    url: http://onlinelibrary.wiley.com/doi/10.1002/anie.201507104/full

  - title: Local spectroscopy of moiré-induced electronic structure in gate-tunable twisted bilayer graphene
    authors: Dillon Wong, Yang Wang, Jeil Jung, Sergio Pezzini, Ashley M. DaSilva, Hsin-Zon Tsai, Han Sae Jung, Ramin Khajeh, Youngkyou Kim, Juwon Lee, Salman Kahn, Sajjad Tollabimazraehno, Haider Rasool, Kenji Watanabe, Takashi Taniguchi, Alex Zettl, Shaffique Adam, Allan H. MacDonald, and Michael F. Crommie, Physical Review B 92, 155409 (2015)
    url: http://journals.aps.org/prb/abstract/10.1103/PhysRevB.92.155409

  - title: Characterization and manipulation of individual defects in insulating hexagonal boron nitride using scanning tunnelling microscopy
    authors: Dillon Wong, Jairo Velasco Jr, Long Ju, Juwon Lee, Salman Kahn, Hsin-Zon Tsai, Chad Germany, Takashi Taniguchi, Kenji Watanabe, Alex Zettl, Feng Wang and Michael F. Crommie, Nature Nanotechnology 10, 949–953 (2015)
    url: http://www.nature.com/nnano/journal/vaop/ncurrent/full/nnano.2015.188.html

  - title: Site-Specific Substitutional Boron Doping of Semiconducting Armchair Graphene Nanoribbons
    authors: Ryan R. Cloke, Tomas Marangoni, Giang D. Nguyen, Trinity Joshi, Daniel J. Rizzo, Christopher Bronner, Ting Cao, Steven G. Louie, Michael F. Crommie, and Felix R. Fischer, J. Am. Chem. Soc. 137, 8872-8875 (2015)
    url: http://pubs.acs.org/doi/full/10.1021/jacs.5b02523

  - title: Fabrication of Gate-tunable Graphene Devices for Scanning Tunneling Microscopy Studies with Coulomb Impurities
    authors: Han Sae Jung, Hsin-Zon Tsai, Dillon Wong, Chad Germany, Salman Kahn, Youngkyou Kim, Andrew S. Aikawa, Dhruv K. Desai, Griffin F. Rodgers, Aaron J. Bradley, Jairo Velasco Jr., Kenji Watanabe, Takashi Taniguchi, Feng Wang, Alex Zettl and Michael F. Crommie, J. Vis. Exp. 101, e52711 (2015)
    url: http://www.jove.com/video/52711/fabrication-gate-tunable-graphene-devices-for-scanning-tunneling

  - title: Probing the Role of Interlayer Coupling and Coulomb Interactions on Electronic Structure in Few-Layer MoSe2 Nanostructures
    authors: Aaron J. Bradley, Miguel M. Ugeda, Felipe H da Jornada, Diana Y. Qiu, Wei Ruan, Yi Zhang, Sebastian Wickenburg, Alexander Riss, Jiong Lu, Sung-Kwan Mo, Zahid Hussain, Zhi-Xun Shen, Steven G. Louie and Michael F. Crommie, Nano Letters 15, 2594-2599 (2015)
    url: http://pubs.acs.org/doi/pdf/10.1021/acs.nanolett.5b00160

  - title: Molecular bandgap engineering of bottom-up synthesized graphene nanoribbon heterojunctions
    authors: Yen-Chia Chen, Ting Cao, Chen Chen, Zahra Pedramrazi, Danny Haberer, Dimas G. de Oteyza, Felix R. Fischer, Steven G. Louie and Michael F. Crommie, Nature Nanotechnology 10, 156-160 (2015)
    url: http://www.nature.com/nnano/journal/vaop/ncurrent/pdf/nnano.2014.307.pdf

  - title: Giant Bandgap Renormalization and Excitonic Effects in a Monolayer Transition Metal Dichalcogenide Semiconductor
    authors: Miguel M. Ugeda, Aaron J. Bradley, Su-Fei Shi, Felipe H. da Jornada, Yi Zhang, Diana Y. Qiu, Wei Ruan, Sung-Kwan Mo, Zahid Hussain, Zhi-Xun Shen, Feng Wang, Steven G. Louie, and Michael F. Crommie, Nature Materials 13, 1091–1095 (2014)
    url: http://www.nature.com/nmat/journal/v13/n12/pdf/nmat4061.pdf

  - title: Imaging and Tuning Molecular Levels at the Surface of a Gated Graphene Device
    authors: Alexander Riss, Sebastian Wickenburg, Liang Z. Tan, Hsin-Zon Tsai, Youngkyou Kim, Jiong Lu, Aaron J. Bradley, Miguel Moreno Ugeda, Kacey Meaker, Kenji Watanabe, Takashi Taniguchi, Alex Zettl, Felix R. Fischer, Steven G. Louie, and Michael F. Crommie, ACS Nano 8, 5395–5401 (2014)
    url: http://pubs.acs.org/doi/pdf/10.1021/nn501459v

  - title: Photoinduced doping in heterostructures of graphene and boron nitride
    authors: L. Ju, J. Velasco Jr, E. Huang, S. Kahn, C. Nosiglia, H. Tsai, W. Yang, T. Taniguchi, K. Watanabe, Y. Zhang, G. Zhang, M. Crommie, A. Zettl & F. Wang, Nature Nanotechnology 9, 348–352 (2014)
    url: http://www.nature.com/nnano/journal/vaop/ncurrent/pdf/nnano.2014.60.pdf

  - title: Local Electronic and Chemical Structure of Oligo-acetylene Derivatives Formed Through Radical Cyclizations at a Surface
    authors: Alexander Riss, Sebastian Wickenburg, Patrick Gorman, Liang Z. Tan, Hsin-Zon Tsai, Dimas G. de Oteyza, Yen-Chia Chen, Aaron J. Bradley, Miguel M. Ugeda, Grisha Etkin, Steven G. Louie, Felix R. Fischer, and Michael F. Crommie, Nano Lett. 14, 2251–2255 (2014)
    url: http://pubs.acs.org/doi/pdf/10.1021/nl403791q

  - title: Bottom-up graphene nanoribbon field-effect transistors
    authors: Patrick B. Bennett, Zahra Pedramrazi, Ali Madani, Yen-Chia Chen, Dimas G. de Oteyza, Chen Chen, Felix R. Fischer, Michael F. Crommie, and Jeffrey Bokor, Appl. Phys. Lett. 103, 253114 (2013)
    url: http://scitation.aip.org/docserver/fulltext/aip/journal/apl/103/25/1.4855116.pdf?expires=1407719324&id=id&accname=2103787&checksum=A63485642CC7F6CF12E775319B989DC3

  - title: Adsorption and Stability of π- Bonded Ethylene on GaP(110)
    authors: Miguel M. Ugeda, Min Yu, Aaron J. Bradley, Peter Doak, Wenjun Liu, Gary F. Moore, Ian D. Sharp, T.D. Tilley, Jeffrey B. Neaton, Michael F. Crommie, J. Phys. Chem C. 117, 26091-26096 (2013)
    url: http://pubs.acs.org/doi/abs/10.1021/jp408539x

  - title: Intermolecular interactions and substrate effects for an adamantane monolayer on a Au(111) surface
    authors: Yuki Sakai, Giang D. Nguyen, Rodrigo B. Capaz, Sinisa Coh, Ivan V. Pechenezhskiy, Xiaoping Hong, Feng Wang, Michael F. Crommie, Susumu Saito, Steven G. Louie, and Marvin L. Cohen, Phys. Rev. B 88, 235407 (2013)
    url: http://link.aps.org/doi/10.1103/PhysRevB.88.235407

  - title: "Infrared Spectroscopy of Molecular Submonolayers on Surfaces by Infrared Scanning Tunneling Microscopy: Tetramantane on Au(111)"
    authors: Ivan V. Pechenezhskiy, Xiaoping Hong, Giang D. Nguyen, Jeremy E. P. Dahl, Robert M. K. Carlson, Feng Wang, and Michael F. Crommie, Phys. Rev. Lett. 111, 126101 (2013)
    url: http://link.aps.org/doi/10.1103/PhysRevLett.111.126101

  - title: Tuning the Band Gap of Graphene Nanoribbons Synthesized from Molecular Precursors
    authors: Yen-Chia Chen, Dimas G. de Oteyza, Zahra Pedramrazi, Chen Chen, Felix R. Fischer, and Michael F. Crommie, ACS Nano 7, 6123-6128 (2013)
    url: http://pubs.acs.org/doi/abs/10.1021/nn401948e

  - title: Direct Imaging of Covalent Bond Structure in Single-Molecule Chemical Reactions
    authors: Dimas G. de Oteyza, Patrick Gorman, Yen-Chia Chen, Sebastian Wickenburg, Alexander Riss, Duncan J. Mowbray, Grisha Etkin, Zahra Pedramrazi, Hsin-Zon Tsai, Angel Rubio, Michael F. Crommie, Felix R. Fischer, Science 340, 1434-1437 (2013)
    url: http://www.sciencemag.org/content/early/2013/05/29/science.1238187

  - title: Adsorption Site Determination of a Molecular Monolayer via Inelastic Tunneling
    authors: Daniel Wegner, Ryan Yamachika, Xiaowei Zhang, Yayu Wang, Michael F. Crommie, and Nicolás Lorente, Nano Letters 13, 2346-2350 (2013)
    url: http://pubs.acs.org/doi/abs/10.1021/nl304081q

  - title: Observing Atomic Collapse Resonances in Artificial Nuclei on Graphene
    authors: Yang Wang, Dillon Wong, Andrey V. Shytov, Victor W. Brar, Sangkook Choi, Qiong Wu, Hsin-Zon Tsai, William Regan, Alex Zettl, Roland K. Kawakami, Steven G. Louie, Leonid S. Levitov & Michael F. Crommie, Science 340, 734-737 (2013)
    url: http://www.sciencemag.org/content/early/2013/03/06/science.1234320

  - title: Experimentally Engineering the Edge Termination of Graphene Nanoribbons
    authors: Xiaowei Zhang, Oleg V. Yazyev, Juanjuan Feng, Liming Xie, Chenggang Tao, Yen-Chia Chen, Liying Jiao, Zahra Pedramrazi, Alex Zettl, Steven G. Louie, Hongjie Dai & Michael F. Crommie, ACS Nano 7, 198-202 (2013)
    url: http://pubs.acs.org/doi/abs/10.1021/nn303730v

  - title: Mapping Dirac quasiparticles near a single Coulomb impurity on graphene
    authors: Y. Wang, V. W. Brar, A. V. Shytov, Q. Wu, W. Regan, H. Tsai, A. Zettl, L. S. Levitov & M. F. Crommie, Nature Physics 8, 653–657 (2012)
    url: http://www.nature.com/nphys/journal/vaop/ncurrent/full/nphys2379.html

  - title: "Self-Assembly and Photomechanical Switching of an Azobenzene Derivative on GaAs(110): Scanning Tunneling Microscopy Study"
    authors: I. V. Pechenezhskiy, J. Cho, G. D. Nguyen, L. Berbil-Bautista, B. L. Giles, D. A. Poulsen, J. M. J. Fréchet, and M. F. Crommie, J. Phys. Chem. C 116, 1052–1055 (2012)
    url: http://pubs.acs.org/doi/abs/10.1021/jp209835n

  - title: Local Electronic Properties of Graphene on a BN Substrate via Scanning Tunneling Microscopy
    authors: R. Decker, Y. Wang, V. W. Brar, W. Regan, H. Tsai, Q. Wu, W. Gannett, A. Zettl, and M. F. Crommie, Nano Letters 11, 2291-2295 (2011)
    url: http://pubs.acs.org/doi/pdf/10.1021/nl2005115

  - title: Spatially resolving edge states of chiral graphene nanoribbons
    authors: C. Tao, L. Jiao, O. V. Yazyev, Y.-C. Chen, J. Feng, X. Zhang, R. B. Capaz, J. M. Tour, A. Zettl, S. G. Louie, H. Dai, and M. F. Crommie, Nature Physics 7, 616–620 (2011)
    url: http://www.nature.com/nphys/journal/vaop/ncurrent/full/nphys1991.html

  - title: Single-Molecule-Resolved Structural Changes Induced by Temperature and Light in Surface-Bound Organometallic Molecules Designed for Energy Storage
    authors: J. Cho, L. Berbil-Bautista, I. V. Pechenezhskiy, N. Levy, S. K. Meier, V. Srinivasan, Y. Kanai, J. C. Grossman, K. P. C. Vollhardt, and M. F. Crommie, ACS Nano 5, 3701–3706 (2011)
    url: http://pubs.acs.org/doi/abs/10.1021/nn2000367

  - title: Gate-controlled ionization and screening of cobalt adatoms on a graphene surface
    authors: V. W. Brar, R. Decker, H.-M. S., Y. Wang, L. Maserati, K. T. Chan, H. Lee, C. O. Girit, A. Zettl, S. G. Louie, M. L. Cohen, and M. F. Crommie, Nature Physics 7, 43–47 (2011) 
    url: http://www.nature.com/nphys/journal/v7/n1/full/nphys1807.html

  - title: Functionalization, self-assembly, and photoswitching quenching for azobenzene derivatives adsorbed on Au(111)
    authors: J. Cho, L. Berbil-Bautista, N. Levy, D. Poulsen, J. M. J. Fréchet, and M. F. Crommie, J. Chem. Phys. 133, 234707 (2010)
    url: http://jcp.aip.org/resource/1/jcpsa6/v133/i23/p234707_s1

  - title: Strain-Induced Pseudo–Magnetic Fields Greater Than 300 Tesla in Graphene Nanobubbles
    authors: N. Levy, S. A. Burke, K. L. Meaker, M. Panlasigui, A. Zettl, F. Guinea, A. H. Castro Neto, and M. F. Crommie, Science 329, 544-547 (2010)
    url: http://www.sciencemag.org/cgi/content/full/329/5991/544

  - title: Determination of Photoswitching Dynamics through Chiral Mapping of Single Molecules Using a Scanning Tunneling Microscope
    authors: M. J. Comstock, D. A. Strubbe, L. Berbil-Bautista, N. Levy, J. Cho, D. Poulsen, J. M. J. Fréchet, S. G. Louie, and M. F. Crommie, Phys. Rev. Lett. 104, 178301 (2010)
    url: http://prl.aps.org/abstract/PRL/v104/i17/e178301

  - title: Observation of Carrier-Density-Dependent Many-Body Effects in Graphene via Tunneling Spectroscopy
    authors: V. W. Brar, S. Wickenburg, M. Panlasigui, C. H. Park, T. O. Wehling, Y. Zhang, R. Decker, C. Girit, A. V. Balatsky, S. G. Louie, A. Zettl, M. F. Crommie, Phys. Rev. Lett. 104, 036805 (2010)
    url: http://link.aps.org/doi/10.1103/PhysRevLett.104.036805

  - title: Spatial Resolution of a Type II Heterojunction in a Single Bipolar Molecule
    authors: C. Tao, J. Sun, X. Zhang, R. Yamachika, D. Wegner, Y. Bahri, G. Samsonidze, M.L. Cohen, S.G. Louie, T. D. Tilley, R. A. Segalman, M. F. Crommie, Nano Letters 9, 3963-3976 (2009)
    url: http://pubs.acs.org/doi/abs/10.1021/nl901860n

  - title: Origin of spatial charge inhomogeneity in graphene
    authors: Y. Zhang, V. W. Brar, C. Girit, A. Zettl, M. F. Crommie, Nature Physics 6, 722-726 (2009)
    url: http://www.nature.com/nphys/journal/v5/n10/abs/nphys1365.html

  - title: Phase separation and charge transfer in a K-doped C-60 monolayer on Ag(001)
    authors: M. Grobis, R. Yamachika, A. Wachowiak, X. H. Lu, M. F. Crommie, Physical Review B 80, 073410 (2009)
    url: http://prb.aps.org/abstract/PRB/v80/i7/e073410

  - title: Tuning Molecule-Mediated Spin Coupling in Bottom-Up-Fabricated Vanadium TCNE Nanostructures
    authors: D. Wegner, R. Yamachika, X. Zhang, Y. Wang, T. Baruah, M. R. Pederson, B. M. Bartlett, J. R. Long, M. F. Crommie, Phys. Rev. Lett. 103, 087205 (2009)
    url: http://prl.aps.org/abstract/PRL/v103/i8/e087205

  - title: Surface anchoring and dynamics of thiolated azobenzene molecules on Au(111)
    authors: J. W. Cho, N. Levy, A. Kirakosian, M. J. Comstock, F. Lauterwasser, J. M. J. Frechet, M. F. Crommie, Journal of Chem. Phys. 131, 034707 (2009)
    url: http://link.aip.org/link/?JCPSA6/131/034707/1

  - title: Direct observation of a widely tunable bandgap in bilayer graphene
    authors: Y. Zhang, T. T. Tang, C. Girit, Z. Hao, M. C. martin, A. Zettl, M. F. Crommie, Y. R. Shen, F. Wang, Nature 459, 820-823 (2009)
    url: http://www.nature.com/nature/journal/v459/n7248/full/nature08105.html

  - title: Self-Patterned Molecular Photoswitching in Nanoscale Surface Assemblies
    authors: N. Levy, M. J. Comstock, J. Cho, L. Berbil-Bautista, A. Kirakosian, F. Lauterwasser, D. A. Poulsen, J. M. J. Frechet, M. F. Crommie, Nano Letters 9, 935-939 (2009)
    url: http://dx.doi.org/10.1021/nl802632g

  - title: Local Electronic Properties of Titanocene Chloride Dimer Molecules on a Metal Surface
    authors: R. Yamachika, X. Lu, D. Wegner, Y. Wang, A. Wachowiak, M. Grobis, L. M. C. Beltran, J. R. Long, M. Pederson, M. F. Crommie, The Journal of Physical Chemistry C 113, 677-680 (2009)
    url: http://dx.doi.org/10.1021/jp807626w

  - title: Measuring reversible photomechanical switching rates for a molecule at a surface
    authors: M. J. Comstock, N. Levy, J. Cho, L. Berbil-Bautista, M. F. Crommie, D. A. Poulsen, and J. M. J Fréchet, Appl. Phys. Lett. 92, 123107 (2008)
    url: http://link.aip.org/link/?APPLAB/92/123107/1

  - title: Giant phonon-induced conductance in scanning tunnelling spectroscopy of gate-tunabe graphene
    authors: Y. Zhang, V. W. Brar, F. Wang, C. Girit, Y. Yayon, M. Panlasigui, A. Zettl, M. F. Crommie, Nature Physics 4, 627-630 (2008)
    url: http://www.nature.com/nphys/journal/v4/n8/full/nphys1022.html

  - title: Spatially resolved electronic and vibronic properties of single diamondoid molecules
    authors: Y. Wang, E. Kiopakis, X. Lu, D. Wegner, R. Yamachika, J. E. Dahl, R. M. K. Carlson, S. G. Louie, M. F. Crommie, Nature Materials 7, 38-42 (2008)
    url: http://www.nature.com/nmat/journal/v7/n1/abs/nmat2066.html

  - title: "Single-Molecule Charge Transfer and Bonding at an Organic/Inorganic Interface: TCNE on Noble Metals"
    authors: D. Wegner, R. Yamachika, Y. Wang, V. W. Brar, B. M. Bartlett, J. R. Long, M. F. Crommie, Nano Letters 8, 131-135 (2008)
    url: http://dx.doi.org/10.1021/nl072217y

  - title: Tuning fulleride electronic structure and molecular ordering via variable layer index
    authors: Y. Wang, R. Yamachika, A. Wachowiak, M. Grobis, M. F. Crommie, Nature Materials 7, 194-197 (2008)
    url: http://www.nature.com/nmat/journal/v7/n3/abs/nmat2100.html

  - title: Novel Orientational Ordering and Reentrant metallicity in KxC60Monolayers for 3< x < 5
    authors: Yayu Wang, R. Yamachika, A. Wachowiak, M. Grobis, K. H. Khoo, D.-H. Lee, S. G. Louie, M. F. Crommie, Phys. Rev. Lett 99, 086402 (2007)
    url: http://prl.aps.org/abstract/PRL/v99/i8/e086402

  - title: Scanning tunneling spectroscopy of inhomogeneous electronic structure in monolayer and bilayer graphene on SiC
    authors: V. W. Brar, Y. Zhang, Y. Yayon, A. Botswick, T. Ohta, J. L. McChesney, K, Horn, E. Rotenberg, M. F. Crommie, Applied Physics Letters (2007)
    url: http://arxiv.org/abs/0706.3764

  - title: Observing Spin Polarization of Individual Magnetic Adatoms
    authors: Y. Yayon, V. W. Brar, L. Senapati, S. C. Erwin, M. F. Crommie, Phys. Rev. Lett 99, 067202 (2007)
    url: http://prl.aps.org/abstract/PRL/v99/i6/e067202

  - title: Reversible photomechanical switching of individual engineered molecules at a surface
    authors: M. J. Comstock, N. Levy, A. Kirakosian, J. W. Cho, F. Lauterwasser, J. H. Harvey, D. A. Strubbe, J. M. J. Fréchet, D. Trauner, S. G. Louie and M. F. Crommie, Phys Rev. Letters 99, 038301 (2007)
    url: http://prl.aps.org/abstract/PRL/v99/i3/e038301

  - title: Bimodal electronic structure of isolated Co atoms on Pt(111)
    authors: Y. Yayon, X. Lu, M. F. Crommie, Phys Rev. B 73, 155401 (2006)
    url: http://prb.aps.org/abstract/PRB/v73/i15/e155401

  - title: Manipulation of azobenzene molecules on Au(111) using scanning tunneling microscopy
    authors: M. J. Comstock, Jongweon Cho, A. Kirakosian, M. F. Crommie, Phys. Rev. B, 72 153414 (2005)
    url: http://prb.aps.org/abstract/PRB/v72/i15/e153414

  - title: Visualization of the Molecular Jahn-Teller Effect in an Insulating K4C60 Monolayer
    authors: A. Wachowiak, R. Yamachika, K. H. Khoo, Y. Wang, M. Grobis, D.-H. Lee, Steven G. Louie, M. F. Crommie, Science 310, 468-470 (2005)
    url: http://www.sciencemag.org/cgi/content/full/310/5747/468

  - title: Tuning negative differential resistance in a molecular film
    authors: M. Grobis, A. Wachowiak, R. Yamachika, and M. F. Crommie, Appl. Phys. Lett. 86, 204102 (2005)
    url: http://apl.aip.org/resource/1/applab/v86/i20/p204102_s1

  - title: Spatially Dependent Inelastic Tunneling in a Single Metallofullerene
    authors: M. Grobis, K. H. Khoo, R. Yamachika, Xinghua Lu, K. Nagaoka, Steven G. Louie, M. F. Crommie, H. Kato, and H. Shinohara, Phys. Rev. Lett. 94, 136802 (2005)
    url: http://prl.aps.org/abstract/PRL/v94/i13/e136802

  - title: Observation of spatially inhomogeneous electronic structure of Si(100) using scanning tunneling spectroscopy
    authors: K. Nagaoka, M. J. Comstock, A. Hammack, and M. F. Crommie, Phys. Rev. B 71, 121304 (2005)
    url: http://prb.aps.org/abstract/PRB/v71/i12/e121304

  - title: "Molecular commensurability with a surface reconstruction: STM study of azobenzene on Au(111)"
    authors: A. Kirakosian, M. J. Comstock, J. Cho and M. F. Crommie, Phys. Rev. B 71, 113409 (2005)
    url: http://prb.aps.org/abstract/PRB/v71/i11/e113409

  - title: "Charge transfer and screening in individual C60 molecules on metal substrates: A scanning tunneling spectroscopy and theoretical study"
    authors: Xinghua Lu, M. Grobis, K. H. Khoo, Steven G. Louie, and M. F. Crommie, Phys. Rev. B 70, 115418 (2004)
    url: http://prb.aps.org/abstract/PRB/v70/i11/e115418
    
  - title: Controlled Atomic Doping of a Single C60 Molecule
    authors: R. Yamachika, M. Grobis, A. Wachowiak, M. F. Crommie, Science 304, 281-284 (2004)
    url: http://www.sciencemag.org/cgi/content/full/304/5668/281

  - title: Spatially Mapping the Spectral Density of a Single C60 Molecule
    authors: Xinghua Lu, M. Grobis, K. H. Khoo, Steven G. Louie, and M. F. Crommie, Phys. Rev. Lett. 90, 096802 (2003)
    url: http://prl.aps.org/abstract/PRL/v90/i9/e096802

  - title: "Local electronic properties of a molecular monolayer: C60 on Ag(001)"
    authors: M. Grobis, X. Lu, and M. F. Crommie, Phys. Rev. B 66, 161408(R) (2002)
    url: http://prb.aps.org/abstract/PRB/v66/i16/e161408

---
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Publications" tagline="" color="#000" class="big" %}
      {% for publication in page.publications %}
      <p><a href="{{publication.url}}">{{publication.title}}</a><br>
      {{publication.authors}}</p>
      {% endfor %}
    </div>
  </div>
</div>