---
layout: default
title: Research
section_id: research
    
services:
  - title: Imaging Topological Effects in 2D Materials
    url: /research/topological
    img: /images/top.png

  - title: Imaging Relativistic Behavior in Graphene
    img: /images/gdots5.png
    url: /research/imrel

  - title: Topology and Bottom-up Synthesis of Graphene Nanoribbons (GNRs)
    img: /images/topbot.png
    url: /research/syngnr

  - title: CDWs and Superconductivity in 2D Materials
    img: /images/cdw.png
    url: /research/cdw

  - title: 2D Mott Insulators
    url: /research/mott
    img: /images/mott.png

  - title: Twisted Bilayer Graphene
    url: /research/tlbg
    img: /images/tlbg.png

  - title: Covalent Organic Frameworks
    url: /research/cof
    img: /images/cof.png

  - title: Nanomachines and Molecular Imaging
    url: /research/nanomach
    img: /images/nano.png

  - title: Ultra-fast STM
    url: /research/ultra
    img: /images/ultra.png

---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Research" tagline="" color="#000" class="big" %}
      <p>Our research interests lie in exploring the atomic-scale electronic, magnetic, optical, and mechanical properties of 1D and 2D nanostructures. This includes low-dimensional molecular materials fabricated using the techniques of self-assembly as well as 2D materials synthesized via exfoliation, CVD, and MBE-based techniques.  We are interested in studying how itneractions at the atomic-scale affect nanostructure behavior, including topological and manybody quantum mechanical effects as well as light-matter interatcions.  Our main experimental tool is scanned probe microscopy, which we use in combination with other characterization tools (e.g optics, transport, magnetiziation) to both fabricate low-dimensional nanostructures and probe them spectroscopically</p>
    </div>
  </div>
  <div class="row">
    <table style="width:100%;">
    {% for service in page.services %}
    {% if forloop.index == 6 %}
    <tr>
    {% endif %}
    <td align="center">
      <figcaption align="middle" style="font-size:1.2em;">
      <b><a href="{{service.url | prepend: site.baseurl}}">{{service.title}}</a></b>
      </figcaption>
      <a href="{{service.url | prepend: site.baseurl}}">
      <img src="{{service.img | prepend: site.baseurl}}"/ style="max-height: 155px;display: block; margin: 0 auto;">
      </a>
    </td>
    {% if forloop.index == 5 %}
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    </div>
  </div>
  <div class='spacing'></div>
</div>

