---
layout: default
title: Research
section_id: research
    
services:
  - title: Imaging Topological Effects in 2D Materials
    url: /research/topological
    img: /images/top.png

  - title: Atomic Collapse in Graphene
    url: /research/atomcollapse
    img: /images/atomcollapse.png

  - title: Frustrated Collapse in Coulomb Arrays
    url: /research/fruscollapse
    img: /images/fruscollapse.png

  - title: Topological Engineering of GNRs
    url: /research/topeng
    img: /images/topeng.png

  - title: Bottom-Up Synthesis of GNR Heterojunctions
    url: /research/gnrhet
    img: /images/gnrhet.png

  - title: Graphene Quantum Dots and Wavefunction Imaging
    url: /research/gdots
    img: /images/gdots.png

  - title: CDWs and Superconductivity in 2D Materials
    url: /research/cdw
    img: /images/cdw.png

  - title: Covalent Organic Frameworks
    url: /research/cof
    img: /images/cof.png

  - title: Twisted Bilayer Graphene
    url: /research/tlbg
    img: /images/tlbg.png

  - title: 2D Mott Insulator
    url: /research/mott
    img: /images/mott.png

---
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Research" tagline="" color="#000" class="big" %}
      <p>Our research interests lie in exploring the local electronic, magnetic, and mechanical properties of atomic and molecular structures at surfaces. We are interested in studying how local interactions between atomic-scale structures affect their microscopic behavior, and how quantum mechanical effects might influence nanodevice behavior in very small structures. Our main experimental tool is scanning tunneling microscopy (STM), which we use in combination with other experimental tools to both fabricate atomic-scale structures and probe them spectroscopically.</p>
    </div>
  </div>
  <div class="row">
    <table style="width:100%">
  {% for service in page.services %}
  {% assign var = forloop.index0 | modulo : 5 %}
  {% if var == 0 %}
    <tr>
  {% endif %}
      <td>
      <a href = "{{service.url | prepend: site.baseurl}}">
      <img class="fadeinleft" alt="" src="{{service.img | prepend: site.baseurl}}"/>
      <figcaption align="middle" color="#0000EE">
        {{service.title}}
      </figcaption>
      </a>
      <div class='spacing'></div>
      </td>
  {% if var == 4 %}
    </tr>
  {% endif %}
  {% endfor %}
    </table>
  </div>
  <div class='spacing'></div>
</div>

