<div id='footer'>
  <div class='spacing'></div>
  <p class="centered-text" style="color:#7e7e7e;">©2019 Crommie Group. All Rights Reserved</p>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <div class="spacing"></div>
      <div class='links'>
        <h4>Pages</h4>
        <ul>
          {% for item in site.data.nav %}
          {% if item.children %}
            {% for child in item.children %}
              <li>
                {% if child.redirect == null %}
                  <a href="{{child.path}}">{{child.name}}</a>
                {% else %}
                  <a href="{{child.path}}" target="_blank">{{child.name}}</a>
                {% endif %}
              </li>
            {% endfor %}
          {% else %}
            <li><a href="{{ item.path | prepend: site.baseurl }}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
        <div class='spacing'></div>
        <div class='links'>
        <div id="sponsor-images">
            <div class="img-col"><a href="https://www.ocf.berkeley.edu"><img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png" alt="Hosted by the OCF"></a></div>
        </div>
      </div>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        <li>Mailing Address:</li>
        <li>University of California, Berkeley</li>
        <li>Department of Physics</li>
        <li>366 Le Conte Hall #7300</li>
        <li>Berkeley, CA 94720-7300</li>
        <br/
      </ul>
      <div class="spacing"></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class="spacing"></div>
      <ul>
        <li>Professor Crommie</li>
        <li>Office: 345 Birge Hall</li>
        <li>Email: crommie{at}berkeley{dot}edu</li>
        <li>Tel: (510)642-3316</li>
        <li>Fax: (510)643-8497</li>
        <br/>
        <li>Lisa Partida, Administrative Assistant</li>
        <li>Office: 305 Birge Hall</li>
        <li>Email: lisapartida{at}berkeley{dot}edu</li>
        <li>Tel: (510)664-4102</li>
        <br/>
      </ul>
      <div class="spacing"></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class="spacing"></div>
      <ul>
        <li>Laboratories</li>
        <li>B271 Birge Hall: (510)642-9397</li>
        <li>B207 Birge Hall: (510)643-5375</li>
        <li>B109 Birge Hall: (510) 643-6391</li>
        <br/>
        <li>Offices</li>
        <li>375 Birge Hall: (510) 642-6882</li>
        <li>103 Birge Hall: (510) 642-9396</li>
        <li>Fax: (510) 642-9398</li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js"  | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl}}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
